<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial scale = 1.0">
    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="/documents/images/icon.png">
    <link rel="stylesheet" href="/styles/admin_dashboard.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="title">CardioCare</div>
            <div class="list">
                <div id="one"><a href="#">Medical Professionals</a></div>
                <div id="two"><a href="#">Verification Requests</a></div>
            </div>
        </div>
        
        <div class="upperbar">
            <div class="heading">Admin Dashboard</div>
            <div class="profile"><a style="margin: 0px; padding: 0px;" href="/"><img src="/documents/images/user.png"></a></div>
        </div>

        <div class="dash-body"></div>
    </div>
</body>
</html>