<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial scale = 1.0">
    <title>CardioCare</title>
    <link rel="icon" type="image/x-icon" href="/documents/images/icon.png">
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/ebzbKa32kuk?si=crFLvXKH1ANHakN9&amp;controls=0" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>-->

    <!-- The video -->
    <video autoplay muted loop id="myVideo">
        <source src="/documents/videos/vid.mp4" type="video/mp4">
    </video>

    <!--Overlay-->
    <div class="container">
        <div class="text one">CardioCare</div>
        <br>
        <div class="text two">An expertly crafted companion, dedicated to nurturing your most cherished possession – the exquisite heart.</div>
        <br>
        <div class="text login">Ready for your diagnosis?<a href="/login"> login</a></div>
        <div class="text signup">Don't have an account?<a href="/signup">  signup!</a></div>
    </div>
</body>
</html>