<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial scale = 1.0">
    <title>CardioCare</title>
    <link rel="icon" type="image/x-icon" href="/documents/images/icon.png">
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/ebzbKa32kuk?si=crFLvXKH1ANHakN9&amp;controls=0" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>-->

    <!-- The video -->
    <div class="videobg">
    <video autoplay muted loop id="myVideo" onclick="pauseit()">
        <source src="/documents/videos/vid.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="text two">Heart is the most important organ!<br> Help us save yours.</div>
        <button class="joinusbtn" onclick="scrollToJoin()">Join us</button>
    </div>
    </div>

    <!--Overlay-->
    
    <div id="joinus" class="container-2">
        <div class="text one">CardioCare</div>
        <br>
        <div class="text two">An expertly crafted companion, dedicated to nurturing your most cherished possession – the exquisite heart.</div>
        <br>
        <div class="btns">
            <div class="log" style="margin-right: 20px;"><a href="/login">login</a></div>
            <div class="sig"><a href="/signup"> signup!</a></div>
        </div>
    </div>

    <script>


        var video = document.getElementById("myVideo"); 
        function pauseit() {
          if (video.paused) {
            video.play();
          } else {
            video.pause();
            }
        }

        function scrollToJoin(){
            document.getElementById('joinus').scrollIntoView({behavior:"smooth"});
        }
    </script>

</body>
</html>