<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial scale = 1.0">
    <title>CC-login</title>
    <link rel="icon" type="image/x-icon" href="/documents/images/icon.png">
    <link rel="stylesheet" href="/styles/login.css">
</head>

<body>
    <div class="container">
        <a href="/"><img style="height: 15px; width: 15px;" src="/documents/images/closemark.png"></a>
        <form method="post">
            <input type="text" id="email" name="email" placeholder="email"><br><br>
            <input type="password" id="pwd" name="pwd" placeholder="password"><br><br>
            <% if (message) { %>
                <p class="warning"><%= message %>!</p>
            <% } %>
            <div class="log-btn"><input type="submit" value="Login"></div>
        </form>
        <br>
        <div class="log-btn">Not a member?<a href="signup">Signup</a></div>
    </div>
</body>
</html>