<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">

    <title>Medics</title>
    <link rel="icon" type="image/x-icon" href="/documents/images/icon.png">
    <link rel="stylesheet" href="/styles/admin_dashboard.css">
</head>

<body>
    <div class="container" style="grid-template: 1fr 1fr 1fr 1fr 1fr / 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;">
        <div class="sidebar" style="background-color: var(--morepurple);">
            <div class="title">CardioCare</div>
            <div class="list">
                <div id="one"><a href="#" class="active">Opinion Requests</a></div>
            </div>
        </div>
        
        <div class="upperbar" style="column-gap: 20%;">
            <div class="heading">Medical Professionals Dashboard</div>
            <div class="profile" style="right: -5px;"><a style="margin: 0px; padding: 0px;" href="/"><img src="/documents/images/user.png"></a></div>
        </div>

        <div class="dash-body">
            <table class="table" style="background-color: var(--morepurple);">
                <tr class="table headings">
                    <th>S.No</th>
                    <th>Image</th>
                    <th>Prediction</th>
                    <th>Status</th>
                    <th>Professional Opinion</th>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>